RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]


Redirect 301 /contact.php/  https://export.sevitsil.com/contact
Redirect 301 /blog.php/  https://export.sevitsil.com/blog
Redirect 301 /exhibition.php/  https://export.sevitsil.com/
Redirect 301 /silidrain.php/  https://export.sevitsil.com/products/tubing/medical-grade/silidrain/
Redirect 301 /gallery.php/  https://export.sevitsil.com/products/
Redirect 301 /industries.php/  https://export.sevitsil.com/industries/
Redirect 301 /fluorosil.php/  https://export.sevitsil.com/products/tubing/fluorosilicone/fluorosil/
Redirect 301 /faq.php/  https://export.sevitsil.com/
Redirect 301 /whats-new.php/  https://export.sevitsil.com/
Redirect 301 /key-management.php/  https://export.sevitsil.com/key-management/
Redirect 301 /overmolded-cross.php/  https://export.sevitsil.com/products/assemblies/overmolded-cross/
Redirect 301 /needle-cover.php/  https://export.sevitsil.com/products/moulded/needle-cover/
Redirect 301 /uv-sils.php/  https://export.sevitsil.com/products/
Redirect 301 /silicone-hoses.php/  https://export.sevitsil.com/products/hoses/
Redirect 301 /tolerance-chart.php/  https://export.sevitsil.com/
Redirect 301 /silicone-extrusion.php/  https://export.sevitsil.com/products/extrusion/
Redirect 301 /silipure-tubings.php/  https://export.sevitsil.com/products/tubing/
Redirect 301 /silibraid-hose.php/  https://export.sevitsil.com/products/tubing/biopharma-grade/silibraid-silicone-braided-hose
Redirect 301 /exibhition-photos.php/  https://export.sevitsil.com/exhibitions
Redirect 301 /surgical-mat.php/  https://export.sevitsil.com/products/moulded/surgical-mat/
Redirect 301 /silicone-sheet.php/  https://export.sevitsil.com/products/extrusion/profiles-sections/silicone-sponge-sheet/
Redirect 301 /terms-conditions.php/  https://export.sevitsil.com/
Redirect 301 /silicone-gasket.php/  https://export.sevitsil.com/products/gaskets/
Redirect 301 /privacy-policy.php/  https://export.sevitsil.com/
Redirect 301 /medical-healthcare.php/  https://export.sevitsil.com/products/
Redirect 301 /silicone-tubing.php/  https://export.sevitsil.com/products/tubing/
Redirect 301 /business-opportunity.php/  https://export.sevitsil.com/
Redirect 301 /silitrans-tubing.php/  https://export.sevitsil.com/products/tubing/
Redirect 301 /silitrans-tubing.php/  https://export.sevitsil.com/products/tubing/
Redirect 301 /silicone-corks-stoppers.php/  https://export.sevitsil.com/products/tubing/biopharma-grade/silicone-corks-stoppers/
Redirect 301 /silicone-square-strips.php/  https://export.sevitsil.com/products/extrusion/square-strip/silicone-cords-squares-strips/
Redirect 301 /anti-microbial-tube.php/  https://export.sevitsil.com/products/tubing/medical-grade/anti-microbial-tube/
Redirect 301 /silicone-menstrual-cup.php/  https://export.sevitsil.com/products/moulded/silicone-menstrual-cup/
Redirect 301 /silicone-autoclavable-gasket.php/  https://export.sevitsil.com/products/gaskets/autoclavable/silicone-autoclavable-gaskets/
Redirect 301 /j-sil-tubing.php/  https://export.sevitsil.com/products/tubing/medical-grade/j-sil-tubing/
Redirect 301 /silicone-product-range.php/  https://export.sevitsil.com/products/
Redirect 301 /silicone-moulded-articles.php/  https://export.sevitsil.com/products/moulded/
Redirect 301 /bromobutyl-syringe-stopper.php/  https://export.sevitsil.com/products/
Redirect 301 /silicone-biological-indicator.php/  https://export.sevitsil.com/products/tubing/biopharma-grade/silicone-biological-indicator/
Redirect 301 /silicone-flange-gasket.php/  https://export.sevitsil.com/products/gaskets/flange/silicone-flange-gaskets/
Redirect 301 /pharmaceutical-biotech-laboratory-industry.php/  https://export.sevitsil.com/
Redirect 301 /silicone-single-use-assemblies-system.php/  https://export.sevitsil.com/products/assemblies/
Redirect 301 /silicone-conductive-anti-static-sifter-sieves-gasket.php/  https://export.sevitsil.com/products/tubing/biopharma-grade/silicone-conductive-anti-static-sifter-sieves-gasket/
Redirect 301 /medical-and-healthcare-industry-product-line.php/  https://export.sevitsil.com/products/tubing/medical-grade/
Redirect 301 /silicone-thermocouple-validation-gasket.php/  https://export.sevitsil.com/products/gaskets/tri-clover/silicone-thermocouple-validation-gasket/
Redirect 301 /silicone-laboratory-products.php/  https://export.sevitsil.com/products/tubing/biopharma-grade/sililab-laboratory-products/
Redirect 301 /2022-medical-fair-india.php/  https://export.sevitsil.com/
Redirect 301 /book-a-meeting-1.php/  https://export.sevitsil.com/
Redirect 301 /silicone-cables-and-wires.php/  https://export.sevitsil.com/products/extrusion/cables/silicone-cables/
Redirect 301 /silicone-products-for-renewable-energy.php/  https://export.sevitsil.com/products/
Redirect 301 /silicone-t-c-mesh-gasket.php/  https://export.sevitsil.com/products/gaskets/tri-clover/silicone-t-c-mesh-gasket/
Redirect 301 /products.php/silicone-product-range.php/  https://export.sevitsil.com/products/
Redirect 301 /products.php/  https://export.sevitsil.com/products/
Redirect 301 /rubber-characteristic-chart.php/  https://export.sevitsil.com/
Redirect 301 /silicone-molded-products.php/  https://export.sevitsil.com/products/tubing/biopharma-grade/silicone-molded-products/
Redirect 301 /life-at-sevitsil.php/  https://export.sevitsil.com/life-at-sevitsil/
Redirect 301 /silicone-knurling-tube.php/  https://export.sevitsil.com/products/tubing/medical-grade/silicone-knurling-tube/
Redirect 301 /silicone-screen-cleaning-balls.php/  https://export.sevitsil.com/products/moulded/silicone-screen-cleaning-balls/
Redirect 301 /silicone-dome-valve-seal.php/  https://export.sevitsil.com/products/moulded/silicone-dome-valve-seal/
Redirect 301 /needle-free-connector-gasket.php/  https://export.sevitsil.com/products/moulded/needle-free-connector-gasket/
Redirect 301 /silicone-turnover-flange-septa.php/  https://export.sevitsil.com/
Redirect 301 /silicone-color-coded-tube.php/  https://export.sevitsil.com/products/tubing/medical-grade/silicone-color-coded-tube/